@charset "UTF-8";

:root {
  font-size : 100% ;                  
  font-family: system-ui, sans-serif; 
  scroll-behavior : smooth ;          
}
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}
*::before , *::after{
  display: block;
}
img, picture, video, iframe, figure , canvas{
  max-width: 100%;
  width: 100%;
  display: block;
  height: initial;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}
p a {
  display: inline;
}
li , menu, summary {
  list-style: none;
}
ol{
  counter-reset: revert;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em, mark, del, pre, code {
  font:inherit;
  line-height: 1em;
  color: inherit;
  text-decoration: none;
  text-wrap: pretty;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
form, input, textarea, select, button, label {
  font:inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}
textarea {
  white-space: pre-wrap;
}
button , label{
  cursor: pointer;
}
::placeholder {
  color: unset;
}
table, tr, td , th, thead, tbody, tfoot{
  border-collapse: collapse;
  border-spacing: 0;
  font:inherit;
}

svg {
  width: 100%;
  display: block;
  height: initial;
  fill: currentColor;
}
p svg{
  display: inline;
  width: initial;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  min-height: 100vh;
  color:inherit;
  line-height: 1.5em;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
              
/* FINE RESET  */
:root{
    --pink:#e84393;
}
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;border: none;text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x:hidden ;

}
section{
    padding:2.5rem 9% ;

}
.heading{
  text-align: center; 
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, .05);


}
.heading  span{
  color: var(--pink);

}
.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;

}

.btn:hover{
    background-color: var(--pink);
}

header{
    position: fixed;
    top: 0;left: 0;right: 0;
    padding: 2rem 9%;
    display: flex;align-items: center;
    justify-content:space-between ;
    background: #fff;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);

}
header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;

}

header .logo span{
    color: var(--pink);
}
header .navbar a{
    font-size: 2rem;
    display: inline-block;
    padding: 0 1.5rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--pink);
}
header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;


}
header .icons a:hover{
    color: var(--pink);
}
header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color: #333;
    padding: .5rem  1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    display: none;

}

 .home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
 }
 .home .content{
    max-width: 50rem;
 }

 .home .content h3{
    font-size: 6rem;
    color:#333 ;
 }
 .home .content span{
    font-size: 3.5rem;
    color:var(--pink);
    padding: 1rem 0;
    line-height: 1.5;

 }
  .home .content p{
    font-size: 1.5rem;
    color:#999;
    padding: 1rem 0 ;
    line-height: 1.5;

 }
 .about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;


 }
 .about .row .img-container {
  position: relative;
  flex: 1 1 40rem;

 }

.about .row .img-container img {
  width: 100%;
  border:1.5rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;


}
.about .row .img-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 padding: 1rem 2rem;
 width: 100%;
  background: #fff;
  font-size: 3rem;
  text-align: center;
  mix-blend-mode: screen;
}
 .about .row .content {
  flex:1 1 40rem;
 }
  .about .row .content h3{
    font-size: 3rem;
    color: #333;

  }
   .about .row .content p{
    font-size: 1.5rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5rem;
    
  }
   .icons-container{
    background: #eee;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-top: 5rem;
    padding-bottom: 1.5rem  ;
   }

    .icons-container .icons {
      background: #fff;
      border: .1rem solid rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      padding: 2rem;
      flex: 1 1 35px;

    }
     .icons-container .icons img{
      height: 5rem;
      margin-right: 2rem;

     }
     .icons-container .icons .h3{
      color: #333;
      padding-bottom: .5rem;
      font-size: 1.5rem;


    }
    .icons-container .icons .span{
      color: #666;
      font-size: 1rem;

    }
    .products .box-container{
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;

    }
    .products .box-container .box{
      flex: 1 1 30rem;
      box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
      border-radius: .5rem;
      border: 1rem solid rgba(0, 0, 0, 0.1);
      position: relative;


    }
/* pongo el precio en color */
     .products .box-container .box .discount{
      position:absolute;
      top: 1rem;left: 1rem;
      padding:7rem 1rem ;
      font-size: 2rem;
      color: var(--pink);
      background: rgba(255, 51, 153, .05);
      z-index: 1;
      border-radius: .5rem;


     }

     /* centrando los icionos  */
    .products .box-container .box .image{
      position: relative;
      text-align: center;
      padding-top: 2rem;
      overflow: hidden;}

      .products .box-container .box .image img{
        height: 25rem;
        
      }
       .products .box-container .box:hover .image img{
        transform: scale(1.1);
      }
      .products .box-container .box .image .icons{
        position: absolute;
        bottom:-7rem; left: 0;right: 0;
        display: flex;
      }
      .products .box-container .box:hover .image .icons{
        bottom: 0;      }
      .products .box-container .box .image .icons a{
        height: 5rem;
        line-height: 5rem;
        font-size: 2rem;
        width: 50% ;
        color: #fff;
        background: var(--pink);

      } 

      .products .box-container .box .image .icons a:hover{
        background: #333;
      }

      .products .box-container .box:hover .image .icons .cart-btn{
        border-left: .1rem solid #fff7 ;
        border-right: .1rem solid #fff7 ;
        width: 100%;

      }
      .products .box-container .box .content{
        padding: 2rem;
        text-align: center;
      }
      
      .products .box-container .box .content h3{
        font-size: 2.5rem;
        color: #333;


      }
       
      .products .box-container .box .content .price{
        font-size: 4rem;
        color:var(--pink);
        font-weight: bolder;
        padding-top: 1rem;
        

      }

      /* PONER EN GRIS EL PRECIO SIN SCONTO */
      .products .box-container .box .content .price span {
        font-size: 2.5rem;
        color:#999;
        font-weight: lighter;
        text-decoration: line-through;
        

      }

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.review .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.15rem rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 1rem solid rgba(0, 0, 0, 0.1);
}
/* 
quotation icon */
.review .box-container .box .fa-quote-right{
  position: absolute;
  font-size: 6rem;
  bottom: 3rem;top: 3rem;
  color: #eee;
}
.review .box-container .box .stars i{
  color: var(--pink);
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.review .box-container .box p{
  color:#999;
  font-size: 1.5rem;
}
.review .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}
.review .box-container .box .user img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;

}

.review .box-container .box .user  h3{
  font-size: 2rem;
  color: #333;
}
.review .box-container .box .user  span{
  font-size: 1.5rem;
  color: #999;
}
::placeholder {
  text-transform: lowercase;
}
::placeholder::first-letter {
  text-transform:uppercase;
}
.contact .row{
  display: flex;
  flex-wrap:wrap-reverse;
  gap:1.5rem;
  align-items: center;
  
}
.contact .row form{
  flex: 1 1 40rem; 
  padding: 2rem 2.5rem;                                      
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: .1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: .5rem;
}
.contact .row .image{
  flex: 1 1 40rem;                                       
}

.contact .row .image img{
 width: 100%;                                       
}
.contact .row form  .box{
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-decoration: none;
  border: 1rem solid rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  margin: .7rem 0 ;
  width: 100%;
}

.contact .row form  .box:focus{
  border-color: var(--pink);
}
.contact .row form textarea{
  height: 15rem;
  resize: none;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.footer .box-container .box {
  flex: 1 1 25rem;
}


.footer .box-container .box h3{
  color: #333;
  font-size:2.5rem;
  padding: 1rem 0 ;
}
.footer .box-container .box a{
 display: block;
 color: #666;
  font-size:1.5rem;
  padding: 1rem 0 ;
}
.footer .box-container .box a:hover{
  color: var(--pink);
  text-decoration: underline;
}
.footer .box-container .box img{
margin-top: 2rem;
}

.footer.credit{
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0, 0, 0, 0.1);
}
.footer.credit .span {
  color: var(--pink);
}



 /* MEDIA QUERIES   */

 @media(max-width:991px){
    html{
    font-size: 55%;}
    header{
        padding: 2rem ;
    }
    section{
        padding: 2rem ;
    }
    .home{
      background-position: left;
    }
    
 }

 @media (max-width:768px){
    header .fa-bars{
        display: block;
    }
    header .navbar{
        position:absolute;
        top: 100%;left: 0;right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0,0, 0.1);
        clip-path: polygon('0  0 , 100% 0 , 100% 0, 0 0');

    }

    header #toggler:checked ~.navrbar{
        clip-path: polygon('0  0 , 100% 0 , 100% 100%, 0% 100%');

    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0, 0,0, 0.1);
        display: block;
    }
    .home .content h3{
      font-size: 5rem;
    }
    .home .content span{
      font-size: 2.5rem;
    }
    .icons-container .icons .h3{
      font-size: 2rem;
    }
    .icons-container .icons span{
     font-size: 1.7rem;
    }

 }
  @media (max-width:450px){
    html{
    font-size: 50%;}
    header{
        padding: .5 rem ;
    }
   .heading{
    font-size: 3rem;
   } 
 }

